{% include 'sitio/head.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introducción</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">¡Bienvenido a la entrega del parcial profe!</h1>
            <p class="lead">Esta hecho con boostrap5, python, mysql(phpmyadmin)</p>
            <hr class="my-4">
            <p>Se le agrego la tabla usuarios en mysql, el archivo usuarios.html e introduccion.html y todo el metodo de crud en app.py</p>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">© 2024 Juan Esteban Villada Gallego, mi parcial.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% include 'sitio/footer.html' %}